@import "./variables.css";

.side-panel {
  flex: 1 1 25px;
  width: 100%;
  resize: both;
  user-select: none;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 73px;
}

.side-panel::-webkit-scrollbar {
  display: none;
}

.side-panel-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--muted);
  padding: 10px 20px 10px 20px;
  margin: 0px;
}

.side-panel-footer {
  position: fixed;
  bottom: 0px;
  background-color: var(--neutral);
  width: 100%;
  gap: 0px;
  padding: 0px;
}
